<launch>

    <node name="mesh_viz_floor" pkg="mesh_viz" type="mesh_viz_node" output="screen">
        <param name="mesh_path" value="/ros_ws/src/cartesio_collision_avoidance/meshes/simple_box.stl" />
        <param name="scale_x" type="double" value="1."/>
        <param name="scale_y" type="double" value="1."/>
        <param name="scale_z" type="double" value="1."/>
        <param name="frame_id" value="ci/world"/>
        <param name="name_id" value="floor"/>
        <param name="show_control_axis" type="bool" value="true"/>
        <remap from="mesh_viz_floor/floor" to="cartesian/collision_objects"/>
    </node>
</launch>